<!DOCTYPE html>
<html lang="en">
<head style="background-color:aqua">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Property Investment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>

        #myHeader {
            background-color: powderblue;
            color: red;
            padding: 1px;
            text-align: left;
        }

        .auto-style1 {
            width: 100%;
        }

        .auto-style2 {
            width: 400px;
        }

        .auto-style3 {
            width:500px;
            height: 140px;
        }

        * {
            margin: 0px;
            padding: 0px;
        }
    

    
        .features {
            color: orangered;
            padding: 0px 0px;
            display: flex;
            flex-direction: row;
        }

            .features figure img {
              
                width: 0px;
                text-align: center;
                text-transform: uppercase;
            }

        h1 {
        }

        header {
            background-color: white;
            color: gray;
            margin: 0px;
            padding: 0px;
        }

        footer {
            background-color:lightgrey;
            color: gray;
            padding: 1px 2px;
            text-align: center;
        }

        body {
            background-color:white;
            color:blueviolet;
            margin: 1px;
            padding: 1px;
        }
    </style>

</head>
<body >
    <header style="background-color:aliceblue">

        <div class="container" >
            <div class="row" >

                <div class="col" style="left:auto">
                    <img src="/images/logo6.jpg" alt="logo" width="200" height="100">
                </div>

                <div class="col order-5" style="text-align:center">
                    <h1  class="btn-outline-danger" style="font-family:'Brush Script MT'"> PropertyInvestment</h1>
                </div>


                <div class="col order-5">
                    
                </div>

               
                <div class="col order-5">
                    <address>
                        <strong>Address:</strong>
                        Property Investment<br />                        
                        Cincinnati, OH-45236
                    </address>
                </div>
            </div>
        </div>

        <nav  style="background-color:aqua" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="background-color:gold">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <div class="col-sm" style="margin-left:1px 1px;">
                        <h4 type="button" class="btn-outline-danger">
                           Investment

                        </h4>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                            <a class="navbar-brand" asp-area="" asp-page="/Index">
                                <div class="col-sm" style="margin-left:0px 0px;">
                                    <h4 type="button" class="btn btn-outline-dark">
                                        Home
                                    </h4>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-page="/PropertyInvestment">
                                <div class="col-sm" style="margin-left:0px 0px;">
                                    <h4 type="button" class="btn btn-outline-dark">
                                        Property
                                    </h4>
                                </div>
                            </a>

                        </li>

                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-page="/Crime">
                                <div class="col-sm" style="margin-left:5px 2px;">
                                    <h4 type="button" class="btn btn-outline-dark">
                                        Crime Details
                                    </h4>
                                </div>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-page="/Healthcare">
                                <div class="col-sm" style="margin-left:5px 2px;">
                                    <h4 type="button" class="btn btn-outline-dark">
                                        Healthcare
                                    </h4>
                                </div>
                            </a>

                        </li>

                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-page="/AboutUs">
                                <div class="col-sm" style="margin-left:5px 2px;">
                                    <h3 type="button" class="btn btn-outline-dark">
                                        About Us
                                    </h3>
                                </div>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-page="/CovidVaccine">
                                <div class="col-sm" style="margin-left:0px 2px;">
                                    <h3 type="button" class="btn btn-outline-dark">
                                        Covid Vaccine
                                    </h3>
                                </div>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>



    </header>


    <div class="container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <hr />

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Copyrights - Property Investment 2021
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
