

header {
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
}


#vaccineheader h1 {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    font-size: 30px;
    color: mediumpurple;
}

#maintitle h1 {
    font-size: 36pt;
    font-family:  Verdana;

}

h1 {
    font-size: large;
    font-size: 30px;
    color: black;
}

h2 {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    font-size: 25px;
    color: crimson;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    color: mediumpurple;
    font-weight: bold;
}

h5 {
    font-size: 20px;
    color: mediumpurple;
    font-weight: bold;
}



h6 {
    font-size: 15px;
    color: mediumpurple;
}



#Property th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: palevioletred;
    color: white;
    font-weight: bold;
}


#crimetable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #D84727;
    color: black;
    font-weight: bold;

}

#healthcaretable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #CDEDF6;
    color: black;
    font-weight: bold;
}


.button {
    background-color: orchid; /* Green */
    border: groove;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}




body {
    background-color: floralwhite;
    color: black;
    margin: 1px;
    padding: 1px;
}

.myDiv {
    border: 5px outset red;
    background-color: orangered;
    text-align: center;
}
        