@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>


    <div class="card">
        <img class="card-img" src="https://i.imgur.com/jhhmoUy.jpg" width="1500" height="500" alt="Card image">

        <div class="card-img-overlay">
            <h2 class="display-4"><b><small>My Future Investment</small></b></h2>
            <p class="lead">
                <b>
                    Some description!!
                </b>
            </p>

        </div>
    </div>

    <br />

    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <b>Chief Executive Officer, Co-Founder</b>
            </div>
            <img class="card-img-top" src="https://i.imgur.com/gfGhhW6.jpg?1" alt="Damon, CEO">

            <div class="card-body">
                <h4 class="card-title">Damon Nicholas</h4>
                <p class="card-text">
                    Description
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <b>Chief Sourcing Officer, Co-Founder</b>
            </div>

            <img class="card-img-top" src="https://i.imgur.com/f40pu9L.png?1" alt="Ioana, CEO">

            <div class="card-body">
                <h4 class="card-title">Ioana Guna</h4>
                <p class="card-text">
                    Description
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <b> Chief Commerce Officer, Co-Founder</b>
            </div>

            <img class="card-img-top" src="/images/Shashi.jpg" alt="Shashi, CCO">

            <div class="card-body">
                <h4 class="card-title">Rautela Shashi</h4>
                <p class="card-text">
                    Description
                </p>
            </div>
        </div>
    </div>