@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> About Us </title>
    <meta http-equiv="content-type" content="text/html; charset = utf-8" />
    <meta name="author" content="Shashi Rautela" />
    <meta name="description" content="brief page description" />
    <meta name="keywords" content="keywords  for, our, property investment" />
    <link rel="stylesheet" type="text/css" href="/css/Stylepage.css" />
</head>
<body>
    <div class="card">
        <img class="card-img" src="/images/aboutUS.jpg" width="500" height="250" alt="City Picture" />
        <div class="card-img-overlay">
            <h2>My Future Investment</h2>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <b>Chief Executive Officer, Co-Founder</b>
            </div>
            <img class="card-img" src="/images/Damon.jpg" alt="Damon" />
            <div class="card-body">
                <h4 class="card-title">Damon Nicholas</h4>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <b>Chief Sourcing Officer, Co-Founder</b>
            </div>
            <img class="card-img" src="/images/Ioana.jpeg" alt="Ioana, CEO" height="370" />
            <div class="card-body">
                <h4 class="card-title">Ioana Guna</h4>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <b> Chief Commerce Officer, Co-Founder</b>
            </div>
            <img class="card-img" src="/images/Shashi.jpg" alt="Shashi, CCO" />
            <div class="card-body">
                <h4 class="card-title">Rautela Shashi</h4>
                <p class="card-text">
                </p>
            </div>
        </div>
    </div>
</body>
</html>
