@page
@model IS7024_Project.Pages.CovidVaccinesModel
@{
    ViewData["Title"] = "CovidVaccines";
    CovidVaccine.Vaccine[] vaccines = (CovidVaccine.Vaccine[])ViewData["Vaccines"];
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Covid Vaccine</title>
    <meta http-equiv="content-type" content="text/html; charset = utf-8" />
    <meta name="author" content="Shashi Rautela" />
    <meta name="description" content="brief page description" />
    <meta name="keywords" content="keywords  for, our, property investment" />
    <link rel="stylesheet" type="text/css" href="/css/Stylepage.css" />
</head>
<body>
    <div class="container">
        <div>
            <h6>
                <input type="text" id="CovidInput" onkeyup="myFunctionCovid()" style="background-color:white" />
                Covid Vaccine Availability

            </h6>
        </div>
        
        <div class="text-md-right">
            <h6>
                Register for Covid19 Vaccination
                <a href="/CovidVaccineUserInput" class="button">Registration</a>
            </h6>
        </div>
    </div>
    <h2 id="vaccineheader" style="align-content:center" >Covid Vaccines</h2>
    <h5 style="text-align:center">[Vaccine data from other group]</h5>
    <hr />
    <h3> See how many COVID-19 vaccines your state received!</h3>
    <div class="myDiv">
        <table class="table" id="Vaccine">
            <thead>
                <tr>
                    <th class="text-center">State</th>
                    <th class="text-center">1st Doses Stock</th>
                    <th class="text-center">2nd Dose Stock</th>
                    <th class="text-center">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CovidVaccine.Vaccine vaccine in vaccines)
                {
    <tr>
        <td class="text-center">@vaccine.Jurisdiction</td>
        <td class="text-center">@vaccine.The1StDoseAllocations</td>
        <td class="text-center">@vaccine.The2NdDoseAllocations</td>
        <td class="text-center">@vaccine.WeekOfAllocations.Date</td>
    </tr>}
            </tbody>
        </table>
    </div>
</body>
</html>

