@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";

    var properties = (PropertyQuickType.Property[])ViewData["Property"];
    var healthcares = (HealthcareCenter.Healthcare[])ViewData["Healthcare"];
    var MyProperty = (PropertyQuickType.Property[])ViewData["MyProperty"];
    var crimes = (QuickTypeCrimes.Crime[])ViewData["Crime"];
}
<style>
    hr.thick {
        border: 10px solid green;
        border-radius: 5px;
    }
</style>


<div class="container boxdefinition" style="margin-top: 100px">
    <div class="row">
        <div class="col-md-4" text-align: center>
            <form name="Find a Property" method="get" asp-page="/PropertyInvestment">
                <label for="Property"></label>

                <input type="submit" value="Search for a Property" class="featurette-heading" style="color:royalblue;font-size:24px;">
            </form>
        </div>
        <div class="col-md-4" text-align: center>
            <form name="search" method="get" asp-page="/Healthcare">
                <label for="Healthcare"></label>

                <input type="submit" value="Find Healthcare Facilities" class="featurette-heading" formtarget="_blank" style="color:royalblue;font-size:24px;">
            </form>
        </div>
        <div class="col-md-4" text-align: center>
            <form name="search" method="get" asp-page="/Crime">
                <label for="CrimeReported"></label>

                <input type="submit" value="Find a Crime in your Area" class="featurette-heading" style="color:royalblue;font-size:24px;">
            </form>
        </div>

    </div>
</div>



