@page
@model IS7024_Project.Pages.PropertyInvestment
@{
    ViewData["Title"] = "Property Investment ";

    var properties = (PropertyQuickType.Property[])ViewData["Property"];
    var MyProperty = (PropertyQuickType.Property[])ViewData["MyProperty"];

    /* var healthcares = (QuickType1.Healthcare[])ViewData["Healthcare"];*/
}


<script>
    function filterZipCode() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("propertytable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            // [3] is the fourth row of the table -- in this case it is zip code
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                    // display nothing if search doesnt have a return value
                }
            }
        }
    }
</script>


<input type="text" id="myInput" onkeyup="filterZipCode()" placeholder="Input a Zip Code">



    <div class="text-center">
        <h1 class="featurette-heading" style="color:crimson">Property Information</h1>
        <table id="propertytable" class="table table-bordered border-primary">
            <tr>
                <th>Property Type</th>
                <th>Neighborhood</th>
                <th>Street</th>
                <th>Zip Code</th>
            </tr>
            @{
                foreach (PropertyQuickType.Property property in MyProperty)
                {
                    <tr>
                        <td>@property.ProjectType</td>
                        <td>@property.Neighborhood</td>
                        <td style="text-align:left">@property.SiteStreetAddress</td>
                        <td>@property.ZipCode</td>
                    </tr>
                }
            }
        </table>
    </div>
