@page
@model IS7024_Project.Pages.testModel


@{
    ViewData["Title"] = " page";
    var MyProperty = (PropertyQuickType.Property[])ViewData["MyProperty"];
    var IS7024_project = (IS7024_Project.Pages.testModel[])ViewData["PropertyInvestment"];
    var healthcares = (HealthcareCenter.Healthcare[])ViewData["Healthcare"];

}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Test Page
    </title>

    <link rel="stylesheet" href="/css/test1.css" />
</head>

<body>

    <h1 style="test1">this is test page</h1>

    <form action="" method="POST" style="margin-top: 50px;">


        <div class="form-group">
            <label class="control-label" for="Property">Property</label>
            <select class="form-control" name="Neighborhoode" id="Neighborhood">
                <option value="Property">Property</option>
                <option value="Crime">Crime</option>
                <option value="Healthcare">Healthcare</option>



            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-sm btn-danger" />
        </div>
    </form>



    @{ if (Model.isSearchNeighborhood)
        {
            <table id="test" class="table table-warning">
                <thead>
                    <tr>
                        <th scope="col">Property Type</th>
                        <th scope="col">Project Categaroy</th>
                        <th scope="col">Project cost</th>
                        <th scope="col">Neighborhood</th>
                        <th scope="col">ZipCode</th>

                        <th></th>
                    </tr>
                </thead>
                @foreach (PropertyQuickType.Property property in MyProperty)
                {
                    <tbody>
                        <tr>
                            <td>@property.ProjectType</td>
                            <td>@property.ProjectCategory</td>
                            <td>$@property.TotalProjectCostEst</td>
                            <td>@property.Neighborhood</td>
                            <td>@property.ZipCode</td>

                        </tr>
                    </tbody>

                }
            </table>

        }
    }
</body>

</html>