@page
@model IS7024_Project.Pages.testModel


@{

    var MyProperty = (PropertyQuickType.Property[])ViewData["MyProperty"];
    var IS7024_project = (IS7024_Project.Pages.testModel[])ViewData["PropertyInvestment"];
    var healthcares = (QuickType1.Healthcare[])ViewData["Healthcare"];

}


<form action="" method="POST" style="margin-top: 50px;">
   

    <div class="form-group">
        <label class="control-label" for="Property">Property</label>
        <select class="form-control" name="Neighborhoode" id="Neighborhood">
            <option value="Property">Property</option>
            <option value="Crime">Crime</option>
            <option value="Healthcare">Healthcare</option>



        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-sm btn-danger" />
    </div>
</form>





<hr />


@{ if (Model.isSearchNeighborhood)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Neighborhood</th>
                    <th scope="col">ZipCode</th>

                    <th></th>
                </tr>
            </thead>
            @foreach (PropertyQuickType.Property property in MyProperty)
            {
                <tbody>
                    <tr>
                        <td>@property.ProjectType</td>
                        <td>@property.Neighborhood</td>
                        <td>@property.ZipCode</td>

                    </tr>
                </tbody>

            }
        </table>

    }
}


